body { padding-top: 70px; overflow:hidden; height:100%; }

.app-navbar {
  background-color: #CCCCCC !important;
}

.app-navbar-brand {
  color: #000 !important;
}

.navbar-brand-logo {
  max-height:48px;
}

.app-btn {
  font-weight: bold !important;
  border-color: #FFF;
  border-width: 3px;
  width: 100%;
}

.app-btn-jaune {
  background-color: #FFCC00;
  color: #000;
}

.app-btn-bleu {
  background-color: #003366;
}

.app-btn-container {
  min-width: 200px;
}

.app-body {
  padding: 0;
  margin-left:0;
  max-width: 100%;
}

.app-accueil {
  padding: 5em;
}

.app-par {
  width: 32px;
  height: 33px;
  transform: skew(-20deg);
  background: #FFCC00;
  position: absolute;
}

.app-par-blue {
  background-color: #003366;
}

.progress-bar {
  -webkit-transition: width 2.5s ease;
  transition: width 2.5s ease;
}