#map {
  height: 90%;
  position: inherit !important;
  margin-top: 10%;
}

#personal {
  cursor: pointer;
  position: absolute;
  left: 90%;
  top: 15%;
  z-index: 3;
}
#friends {
  cursor: pointer;
  position: absolute;
  left: 90%;
  top: 25%;
  z-index: 3;
}

#progress {
  cursor: pointer;
  position: absolute;
  left: 15%;
  width: 70%;
  top: 90%;
  z-index: 3;
}
/* #map {
  height: 100%;
  position: inherit !important;
}



.menu-link {
  color: black;
  text-decoration: none;
}

.menu-link:hover {
  color: #ADD8E6;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  margin-bottom: 0;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.quoteName {
  font-weight: bold;
  margin-right: 0.25em;
}

.bold {
  font-weight: bold;
} */
